{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<main>
	<section class="waifus">
	{% for waifu in waifus %}
		<a href="/{{waifu.id}}/">
		{% if waifu.waifu_of_the_month %}
			<figure class="waifu best">
		{% else %}
			<figure class="waifu">
		{% endif %}
				<img src="{{ waifu.image.url }}" />
				<figcaption>
					{% if waifu.waifu_of_the_month %}
						<h2>{{ waifu.name }} is the current waifu of the month</h2>
					{% else %}
						<h2>{{ waifu.name }}</h2>
					{% endif %}
				</figcaption>
				<button id="hearts" data-id="{{waifu.id}}"
				        class="glyphicon-heart" type="button">
					{% if waifu.hearts > 0 %}
						{{ waifu.hearts }}
					{% endif %}
				</button>
			</figure>
		</a>
	{% endfor %}
	</section>

	<section class="form">
		<form enctype="multipart/form-data" action="post_url/" method="post">
			<h2>Add a waifu!</h2>
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Submit" />
		</form>
	</section>

</main>
{% endblock %}
