{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
		<meta charset="UTF-8">
		<title>///////</title>
	</head>
	<body>

		<nav class="navbar">
			<a href="/">
				<img src="{% static 'images/WaifuTracker.png' %}" alt="WaifuTracker Logo">
			</a>
		</nav>

		<header>
			<h1>WaifuTracker</h1>
		</header>

		<main>

			{% for waifu in waifus %}

			{% if waifu.waifu_of_the_month %}
				<section class="waifu best">
			{% else %}
				<section class="waifu">
			{% endif %}
					<img src="{{ waifu.img_url }}" />
					<header>
						{% if waifu.waifu_of_the_month %}
							<h2>{{ waifu.name }} is the current waifu of the month</h2>
						{% else %}
							<h2>{{ waifu.name }}</h2>
						{% endif %}
					</header>
					<table>
						<tr>
							<th>From:</th>
							<td>{{ waifu.series }}</td>
						</tr>
						<tr>
							<th>Rating:</th>
							<td>{{ waifu.rating }}</td>
						</tr>
						<tr>
							<th>Height:</th>
							<td>{{ waifu.height }} cm</td>
						</tr>

					</table>
				</section>
				<br>
			{% endfor %}

		</main>
	</body>

	<footer>
		<h3>© WaifuTracker 2017 made by Mdlkxzmcp</h3>
	</footer>
</html>
